{% extends "header.html" %}
{% block content %}
<div class="row">
    <p>Katie Spiegel</p>
    <p>Bubble tea has become very popular with a dedicated customer base. A website aside from yelp and google reviews will give bubble tea fans a place to go for solely bubble tea reviews and store locations. Being able to write and read reviews from other bubble tea fans will give that feedback credibility. Store owners will also be able to interact with their community and get direct feedback. Menus will also be more accessible, since a lot of the times bubble tea store websites are difficult to navigate. The website will be simple and clean, with pictures of the stores and items on their menus. 
    </p>
    <p></p>
    <p>I was short on time and wish I could have made the site prettier, as it obviously is bare bones. </p>
    <p>The idea does have much potential though and I may look into creating a better product later on.</p>
    <p>Thank you for helping me on such short notice multiple times this semester! Have a great summer.</p>
</div>


{% endblock %}